.eea-forms-quick-upload {
    border: 1px solid #8CACBB;
    background: white url(input_background.gif) repeat-x scroll 0 0;
    padding: 1em;
}

.eea-forms-quick-upload .pannelHeader {
    display: none;
}

.eea-forms-quick-upload #label-upload {
    color: #ccc;
}
